name: Deploy
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - run: npm ci --ignore-engines
    - run: npm run build
    - uses: actions/upload-pages-artifact@v3
      with:
        path: build
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/upload-pages-artifact@v3
    - uses: actions/deploy-pages@v4


